[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
[init]
	defaultBranch = master
[user]
	name = Amol Vyas
	email = amol.vyas0630@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://github.ecodesamsung.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
