[Desktop Entry]
Version=1.0
Name=Gmail - Personal
Comment=Gmail - Personal
Exec=omarchy-launch-webapp https://mail.google.com/mail/u/0/#inbox
Terminal=false
Type=Application
Icon=/home/decipher/.local/share/applications/icons/Gmail - Personal.png
StartupNotify=true
